name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    name: Test suite
    runs-on: ubuntu-latest
    container:
      image: php:7.1-cli-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install project dependencies
        run: |
          php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
          php -r "if (hash_file('sha384', 'composer-setup.php') === 'a5c698ffe4b8e849a443b120cd5ba38043260d5c4023dbf93e1558871f1f07f58274fc6f4c93bcfd858c6bd0775cd8d1') { echo 'Installer verified'; } else { echo 'Installer corrupt'; unlink('composer-setup.php'); } echo PHP_EOL;"
          php composer-setup.php --filename=composer
          php -r "unlink('composer-setup.php');"
          php composer global require friendsofphp/php-cs-fixer
          php composer global require pedrotroller/php-cs-custom-fixer
          php composer install
      - name: Run PHP Coding Standards Fixer tool
        run: |
          php ~/.composer/vendor/bin/php-cs-fixer fix --dry-run --config=.php_cs.dist
          php ~/.composer/vendor/bin/php-cs-fixer fix --dry-run --config=.php_cs.test.dist
      - name: Run PHPUnit
        run: |
          php ./vendor/bin/phpunit